In [1]:
import numpy as np
import pandas as pd

In [15]:
data = pd.read_csv('C:\\Users\\админ\\Jupyter_notebook\\Machine Learning\\Datasets and CSV\\travel.csv')

In [27]:
data

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,7.89,65.5,39.7,No,NaN
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,7.89,40.1,32.1,Yes,NaN
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,NaN,54.2,40.6,Yes,NaN
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,NaN,51.9,36.5,Yes,NaN
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,NaN,49.5,33.6,Yes,NaN

In [17]:
data.describe()

,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,TotalTime,MovingTime
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,50.981512,127.591707,74.477561,81.975610,41.904390,37.871707
std,1.321205,4.128450,11.409816,10.111544,6.849476,4.835072
min,48.320000,112.200000,38.100000,50.300000,28.200000,27.100000
25%,50.650000,124.900000,68.900000,76.600000,38.400000,35.700000
50%,51.140000,127.400000,73.600000,81.400000,41.300000,37.600000
75%,51.630000,129.800000,79.900000,86.000000,44.400000,39.900000
max,60.320000,140.900000,107.700000,112.100000,82.300000,62.400000

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            205 non-null    object
 1   StartTime       205 non-null    object
 2   DayOfWeek       205 non-null    object
 3   GoingTo         205 non-null    object
 4   Distance        205 non-null    float64
 5   MaxSpeed        205 non-null    float64
 6   AvgSpeed        205 non-null    float64
 7   AvgMovingSpeed  205 non-null    float64
 8   FuelEconomy     188 non-null    object
 9   TotalTime       205 non-null    float64
 10  MovingTime      205 non-null    float64
 11  Take407All      205 non-null    object
 12  Comments        24 non-null     object
dtypes: float64(6), object(7)
memory usage: 20.9+ KB

In [26]:
#1 dropping the missing values column-wise.
a = data.dropna(axis = 1)
a

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,TotalTime,MovingTime,Take407All
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,39.3,36.3,No
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,37.9,34.9,No
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,37.5,35.9,No
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,39.8,35.6,No
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,36.8,34.8,No
...,...,...,...,...,...,...,...,...,...,...,...
200,7/18/2011,08:09,Monday,GSK,54.52,125.6,49.9,82.4,65.5,39.7,No
201,7/14/2011,08:03,Thursday,GSK,50.90,123.7,76.2,95.1,40.1,32.1,Yes
202,7/13/2011,17:08,Wednesday,Home,51.96,132.6,57.5,76.7,54.2,40.6,Yes
203,7/12/2011,17:51,Tuesday,Home,53.28,125.8,61.6,87.6,51.9,36.5,Yes
204,7/11/2011,16:56,Monday,Home,51.73,125.0,62.8,92.5,49.5,33.6,Yes

In [21]:
#2 dropping the missing values row-wise

In [30]:
a = data.dropna(axis = 0)
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 15 to 189
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            23 non-null     object
 1   StartTime       23 non-null     object
 2   DayOfWeek       23 non-null     object
 3   GoingTo         23 non-null     object
 4   Distance        23 non-null     float64
 5   MaxSpeed        23 non-null     float64
 6   AvgSpeed        23 non-null     float64
 7   AvgMovingSpeed  23 non-null     float64
 8   FuelEconomy     23 non-null     object
 9   TotalTime       23 non-null     float64
 10  MovingTime      23 non-null     float64
 11  Take407All      23 non-null     object
 12  Comments        23 non-null     object
dtypes: float64(6), object(7)
memory usage: 2.5+ KB

In [31]:
#3 Using fillna method
cols = ['FuelEconomy', 'Comments']

In [32]:
data[cols].head()

  FuelEconomy Comments
0         NaN      NaN
1         NaN      NaN
2         NaN      NaN
3         NaN      NaN
4         NaN      NaN

In [33]:
data[cols].fillna(value = 999)

    FuelEconomy Comments
0           999      999
1           999      999
2           999      999
3           999      999
4           999      999
..          ...      ...
200        7.89      999
201        7.89      999
202         999      999
203         999      999
204         999      999

[205 rows x 2 columns]

In [35]:
#usually you should fill it with mean value, so that distribution and stats won't change

#it also can be
#-mean
#-median
#-mode

**Using sklearn Imputer**

In [40]:
from sklearn.impute import SimpleImputer

In [42]:
imputer_mean = SimpleImputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer_median = SimpleImputer(missing_values = 'NaN', strategy = 'median', axis = 0)

TypeError: __init__() got an unexpected keyword argument 'axis'